<section id="sec1">
  <nav class="p-3 navbar">
    <div class="row container-fluid">
      <div class="col-md-6">
        <h1 href="#">Deleted Events</h1>
      </div>
      <div class="col-md-6">
        <a class="me-5 text-dark" routerLink="/home">Home</a>
        <a class="me-5 text-dark" routerLink="/eventPage">Events</a>
        <a class="me-5 text-dark" routerLink="/DelEventPage">Deleted Events</a>
        <a class="me-5 text-dark" routerLink="/login">Log out</a>
      </div>
    </div>
  </nav>

  <div class="tableDiv">
    <table class="table">
      <thead>
        <tr class="">
          <th>No</th>
          <th>Event Name</th>
          <th>Date</th>
          <th>Owner Name</th>
          <th>Priority</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of event; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ data.eventName }}</td>
          <td>{{ data.EventDate }}</td>
          <td>{{ data.eventOwner }}</td>
          <td>{{ data.priority }}</td>
        </tr>
      </tbody>
    </table>
    <button routerLink="/home" class="BckBtn">Back</button>
  </div>
</section>
